<div id='new-discussion'>
  <div id='new-discussion-form'>
    <%= form_tag topic_discussions_path(@topic), :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="input-area">
        <%= text_area_tag :content, nil, rows: "5", :placeholder=>"即时评论"%>
        <div class="discussion-user-pick">
          <%= render :partial => 'shared/user_select_for_discussion', :locals => { :topic => @topic} %>
          <div class="invite-email-input">
            <%= text_field_tag :invited_emails, nil, placeholder: '输入电子邮件邀请成员...' %>
          </div>
          <%= hidden_field_tag :selected_users_for_discussion, '' %>
        </div>
      </div>
      <div class="reply-submit">
        <%= submit_tag "回复", :class=>"btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

