<div id='new-discussion'>
  <div id='new-discussion-form'>
    <%= form_tag topic_discussions_path(@topic), :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="input-area form-group">
        <div class="col-xs-12">
          <%= render :partial => 'shared/editor' %>
          <%= render :partial => 'shared/user_select_for_discussion', :locals => { :topic => @topic} %>
          <%= text_field_tag :invited_emails, nil, :class => 'form-control', :placeholder => '输入电子邮件邀请并通知新成员...' %>
        </div>
      </div>
      <div class="reply-submit">
        <%= submit_tag "回复", :class=>"btn btn-default", 'data-disable-with' => '提交中...' %>
      </div>
    <% end %>
  </div>
</div>

