<%- if current_organization %>
  <div id='new-topic'>
    <div class='row'>
      <%= link_to('创建新话题', '#', :id => 'new-topic-button', :class=>"btn offset6")%>
    </div>
    <div id='new-topic-form', class='row top-buffer left-buffer'>
      <%= form_tag topics_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
        <div class="control-group">
          <%= text_field_tag :title, nil, :class=>"col-xs-8 input-large", :placeholder=>"标题"%>
          <%= text_area_tag :content, nil, :class=>"col-xs-8 top-buffer", :placeholder=>"内容"%>
          <%= hidden_field_tag :topic_users, '' %>
        </div>
        <div>
          <%= submit_tag "创建", :class=>"btn"%>
        </div>
        <div>
          <%= link_to('取消', '#', :id => 'cancel-create-button', :class=>"btn")%>
        </div>
      <% end %>
      <%= render :partial=> 'user_select', :locals => {:organization_users => organization_users} %>
    </div>
  </div>
<%- end %>
