<div id='new-discussion' class='row'>
  <div id='new-discussion-form' class='col-xs-12'>
    <%= form_tag topic_discussions_path(@topic), :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="control-group">
        <%= text_area_tag :content, nil, :class=>"col-xs-8", :placeholder=>"即时评论"%>
        <%= hidden_field_tag :selected_users_for_discussion, '' %>
      </div>
      <div>
        <%= submit_tag "回复", :class=>"btn"%>
      </div>
    <% end %>
    <%= render :partial => 'shared/user_select', :locals => { :topic => @topic} %>
  </div>
</div>

