<div id='new-discussion'>
  <div id='new-discussion-form' data-page="EditorPage" data-reload=true>
    <%= form_tag topic_discussions_path(@topic), :method => "post", :class=>"form-horizontal", :html => { :multipart => true }, :remote => true do %>
      <div class="input-area form-group">
        <div class="col-xs-12">
          <%= render :partial => 'shared/editor' %>
          <%= render :partial => 'shared/user_select_for_discussion', :locals => { :topic => @topic, :participators => participators} %>
        </div>
        <div id="discussion-file-list">
          <%= hidden_field_tag :discussion_upload_files, '', :class => 'file-id-container' %>
        </div>
        <div class="reply-submit col-xs-12">
          <%= submit_tag "回复", :class=>"btn btn-default", 'data-disable-with' => '提交中...' %>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'shared/upload' %>
  </div>
</div>
