<div id='topic-list'>
  <div class="row">
    <div>
      您的话题有：
    </div>
    <div class='col-xs-2'>
      选择框：
    </div>
    <div class='col-xs-2'>
      创建者：
    </div>
    <div class='col-xs-2'>
      回复数：
    </div>
    <div class='col-xs-3'>
      标题：
    </div>
    <div class='col-xs-3'>
      创建时间：
    </div>
  </div>
  <div class='row' id="select-topic" data-update="#selected_topics" data-page="CheckBoxGroup">
    <%- topic_with_tags(topics).each do |topic|%>
      <div class='col-xs-2'>
        <%= check_box_tag 'topics[]', topic[:id], false, :class=>"item", :'data-item'=>true %>
      </div>
      <div class='col-xs-2'>
        <%= topic[:updator]%>
      </div>
      <div class='col-xs-2'>
        <%= topic[:size] > 0 ? topic[:size] : ''%>
      </div>
      <div class='col-xs-3'>
        <%= link_to(topic[:title], topic_path(topic))%>
        <div class="headline-tag" style="display:inline;"><%= topic[:tags] %></div>
      </div>
      <div class='col-xs-3'>
        <%= topic[:active_time] %>
      </div>
    <% end %>
  </div>
</div>
