<div id='topic-list'>
  <div class="row">
    <div>
      您的话题有：
    </div>
    <div class='col-xs-2'>
      选择框：
    </div>
    <div class='col-xs-2'>
      创建者：
    </div>
    <div class='col-xs-2'>
      回复数：
    </div>
    <div class='col-xs-3'>
      标题：
    </div>
    <div class='col-xs-3'>
      创建时间：
    </div>
  </div>
  <div class='checkbox-group' id="select-topic" data-update="#selected_topics_to_archive, #selected_topics_to_tagging" data-reload=true data-page="CheckBoxGroup">
    <%- order_by_updator(topics).try(:each) do |topic| %>
      <div class="row topic-row">
        <div class='col-xs-2'>
          <%= check_box_tag 'topics[]', topic.id, false, :class=>"item", :'data-item'=>true %>
        </div>
        <div class='col-xs-2'>
          <%= topic.creator.email_name%>
        </div>
        <div class='col-xs-2'>
          <%= topic.discussions.size > 0 ? topic.discussions.size : ''%>
        </div>
        <div class='col-xs-3'>
          <%= link_to(topic.title, topic_path(topic))%>
          <%= render :partial => 'tags/headline_tags', :locals => {:topic => topic} %>
        </div>
        <div class='col-xs-3'>
          <%= topic.last_update_time %>
        </div>
      </div>
    <% end %>
  </div>
</div>
