<div id='topic-list'>
  <div class='checkbox-group' id="select-topic" data-update="#selected_topics_to_archive, #selected_topics_to_tagging" data-reload=true data-page="CheckBoxGroup">
    <ul class="list-unstyled topic-list-ul">
      <%- topics.try(:each) do |topic| %>
        <li class="topic-row <%= read_style(topic) %>">
          <div class='topic-checkbox'>
            <%= check_box_tag nil, topic.id, false, :class=>"item custome-checkbox", :'data-item'=>true %>
          </div>
          <div class='topic-creator-info'>
            <div class='topic-creator'>
              <%= topic.creator.display_name%>
            </div>
            <div class="topic-reply-number">
              (<%= topic.discussions.size %>)
            </div>
          </div>
          <div class='topic-title-with-tag'>
            <%= render :partial => 'tags/headline_tags', :locals => {:topic => topic} %>
            <div class='title'>
              <%= link_to topic_path(topic) do %>
                <%= topic.title %>
              <% end %>
            </div>
          </div>
          <div class='topic-update-time'>
            <%- if has_attachments?(topic) %>
              <i class="fa fa-paperclip fa-lg"></i>
            <% end %>
            <time class="timeago" datetime="<%= topic.last_update_time %>"></time>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate topics %>
  </div>
</div>
