<div id='topic-list'>
  <div class="row headline">
    <h4>
      话题列表
    </h4>
  </div>
  <div class='checkbox-group' id="select-topic" data-update="#selected_topics_to_archive, #selected_topics_to_tagging" data-reload=true data-page="CheckBoxGroup">
    <ul class="list-unstyled">
      <%- topics.try(:each) do |topic| %>
        <li class="topic-row <%= display_unread_style?(topic) ? 'unread' : 'read' %>">
          <div class='topic-checkbox'>
            <%= check_box_tag nil, topic.id, false, :class=>"item", :'data-item'=>true %>
          </div>
          <div class='topic-creator'>
            创建人:&nbsp<%= topic.creator.email_name%>
          </div>
          <div class='topic-reply-num'>
            <%= topic.discussions.size > 0 ? topic.discussions.size : ''%>
          </div>
          <div class='topic-title-with-tag'>
            <div class='title'>
              <%= link_to(topic.title, topic_path(topic)) %>
            </div>
            <%= render :partial => 'tags/headline_tags', :locals => {:topic => topic} %>
          </div>
          <div class='topic-update-time'>
            <%= topic.last_update_time.strftime("%Y年%m月%d日 %H:%M") %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate topics %>
  </div>
</div>
