<div class="sign-up">
  <%= form_tag '/users', :method => "post", :class=>"form-horizontal" do %>
    <div class="center control-group">
      <%= text_field_tag :'user[email]', nil, :class=>"input-large", :placeholder=>"邮箱"%>
    </div>
    <div class="center control-group">
      <%= password_field_tag :'user[password]', nil, :class=>"input-large", :placeholder=>"密码"%>
    </div>
    <div class="center control-group">
      <%= text_field_tag :organization_name, nil, :class=>"input-large", :placeholder=>"公司或团体名称"%>
    </div>
    <div class="center">
      <%= submit_tag "注册", :class=>"btn"%>
    </div>
  <% end %>
</div>
