<div class="center sign-up">
  <%= form_tag '/users', :method => "post", :class=>"sign-up form-horizontal" do %>
    <div class="control-group">
      <%= text_field_tag :email, nil, :class=>"input-large", :placeholder=>"邮箱"%>
    </div>
    <div class="control-group">
      <%= password_field_tag :password, nil, :class=>"input-large", :placeholder=>"密码"%>
    </div>
    <div class="control-group">
      <%= text_field_tag :organization_name, nil, :class=>"input-large", :placeholder=>"公司或团体名称"%>
    </div>
      <%= submit_tag "注册", :class=>"btn"%>
  <% end %>
</div>
