<div class="modal-dialog" id="new-topic-form">
  <div class="modal-content">
    <%= form_tag topics_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="modal-header">
        <label for="inputTitle">标题</label>
        <%= text_field_tag :title, nil, :placeholder=>"标题"%>
        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <label for="inputContent">内容</label>
        <%= text_area_tag :content, nil, :class=>"form-control form-content", :rows=>"3", :placeholder=>"内容"%>
        <%= hidden_field_tag :selected_users_for_topic, '' %>
      </div>
      <div class="modal-footer">
        <%= text_field_tag :invited_emails, nil, class: 'form-control form-content', placeholder: '输入电子邮件邀请成员...' %>
        <div class="col-xs-8 checkbox-group" id="select-user-for-topic" data-update="#selected_users_for_topic, #selected_users_for_discussion", data-page="CheckBoxGroup", data-reload=true>
          <%= render :partial=> 'shared/user_select', :locals => {:topic => nil} %>
        </div>
        <%= submit_tag "创建", :class=>"btn btn-primary"%>
      </div>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

