<div class="modal-dialog" id="new-topic-form" data-page="EditorPage" data-reload=true>
  <div class="modal-content">
    <%= form_tag topics_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="modal-header">
        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">新邮件</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-xs-12">
            <%= text_field_tag :title, nil, :class => 'form-control', :placeholder=>"主题"%>
            <%= render :partial => 'shared/editor' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <%= render :partial => 'shared/user_select_for_topic', :locals => {:topic => nil, :participators => get_new_topic_participators} %>
          </div>
        </div>
      </div>
      <div id="topic-file-list">
        <%= hidden_field_tag :topic_upload_files, '', :class => 'file-id-container' %>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <%= submit_tag "创建", :class => "btn btn-default", 'data-disable-with' => '提交中...' %>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'shared/upload' %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

