<div class="sidebar col-xs-2">
  <div data-page="NewTopicPage">
    <button type="button" id="create-new-topic" class="btn btn-default">创建新话题</button>
  </div>
  <hr>
  <div class="personal-inbox" data-page="UnreadNumberPage">
    <h4 class="name-space">
      个人空间
    </h4>
    <%= link_to personal_topics_inbox_path do %>
      <h5 class="<%= 'selected' if current_page?(:controller => 'topics', :action => 'unarchived') %>">
          未处理
          <span class="badge" id="unread-num-query">
            <%= unread_topic_number %>
          </span>
      </h5>
    <%end %>
    <%= link_to personal_topics_path do %>
      <h5 class="<%= 'selected' if current_page?(:controller => 'users', :action => 'topics') %>">
        所有
      </h5>
    <% end %>
  </div>
  <hr>
  <div>
    <h4 class="name-space">
      团队空间
    </h4>
    <%= link_to organization_topics_path do %>
      <h5 class="<%= 'selected' if current_page?(:controller => 'topics', :action => 'index') %>">
        所有
      </h5>
    <% end %>
    <%= render :partial => 'tags/tag_filters', :locals => { :tags => current_organization.tags } %>
  </div>
</div>
