<div class="landing-header-bg">
  <div class="container landing-header">
    <div class="screen-shot-container col-md-8">
      <%= image_tag "landing-header-screenshot.png" %>
    </div>
    <div class="signup-form col-md-4">
      <%= form_tag users_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :'user[email]', nil, :class=>"form-control", :placeholder=>"邮箱"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= password_field_tag :'user[password]', nil, :class=>"form-control", :placeholder=>"密码"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :organization_name, nil, :class=>"form-control", :placeholder=>"团队名称"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= submit_tag "注册", :class=>"btn btn-default btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

