<div class="modal fade" id="video-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="vplayer-box">
        <video class="video-js vjs-default-skin" id="demo-video"
          controls preload="auto" width="640" height="360"
          data-setup='true'>
          <source src="videos/teamail-concept.mp4" type='video/mp4' />
        </video>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrolltop back2top">
  <i class="fa fa-arrow-up fa-lg"></i>
</a>

<div class="landing-header-bg">
  <div class="container landing-header">
    <h1>改进而不改变, 用Email进行团队协作</h1>
    <div class="screen-shot-container col-md-8">
      <%= image_tag "landing-header-screenshot.png" %>
    </div>
    <div class="signup-form col-md-4">
      <%= form_tag users_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :'user[email]', nil, :class=>"form-control", :placeholder=>"你的邮箱"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= password_field_tag :'user[password]', nil, :class=>"form-control", :placeholder=>"你的密码"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :organization_name, nil, :class=>"form-control", :placeholder=>"团队名称"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= submit_tag "注册", :class=>"btn btn-default btn-block", 'data-disable-with' => '提交中...' %>
          </div>
        </div>
      <% end %>
      <div class="signup-post">
        <h4>免费开通服务，一步到位</h4>
        <p>如同Email一般简单易用，无须教程</p>
      </div>
    </div>
  </div>
  <div class="secondary-nav-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3><a href="http://blog.lohaswork.com/" target="_blank">官方博客</a></h3>
          <p>为什么要使用这个产品？</p>
        </div>
        <!--
        <div class="col-sm-6 col-md-3">
          <h3><a href="#">功能介绍</a></h3>
          <p>探索产品的方方面面</p>
        </div>
        -->
        <div class="col-md-4">
          <h3><%= link_to '常见问题', faq_path, {target: "_blank"} %></h3>
          <p>我是否可以长期免费使用？</p>
        </div>
        <div class="col-md-4">
          <h3><%= link_to '关于我们', about_us_path, {target: "_blank"} %></h3>
          <p>我们是谁？为什么打造这样一款产品</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="major-features-bg">
  <div class="major-features container">
    <div class="col-md-4">
      <div class="feature-block">
        <h3 class="feature-title-1">一致体验</h3>
        <p>工作上离不开 email？没有问题！</p>
        <p>你可以通过Email完成所有基础的操作。不必担心多套系统切换，我们提供了和 email 高度整合的使用方式。</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-block">
        <h3 class="feature-title-2">全局视野</h3>
        <p>传统的 email 信息混乱，每天花在整理信息的时间上就让人烦心。</p>
        <p>通过teamail，你可以多维度地查看项目进展，把所有的精力花在必要的管理和执行上。</p>
        <p>提升工作效率，仅在片刻之间。</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature-block">
        <h3 class="feature-title-3">数据存储</h3>
        <p>还在费劲整理资料？那就快试试 teamail 吧</p>
        <p>所有数据、附件自动收录，不必担心邮件删除了就再也找不回来。</p>
        <p>新员工加入，看历史记录去吧，再也不用一遍遍解释培训了。</p>
      </div>
    </div>
  </div>
</div>

<div class="user-story-bg">
  <div class="user-story-list container">
    <div class="user-story-intro">
      <h3>你可以这样使用 teamail.biz</h3>
    </div>
    <div class="user-story-1">
      <p>讲故事部分，这里只是示例文字。示例强调文件部分<strong>强调</strong>还是示例部分。讲故事部分，这里只是示例文字。</p>
      <p>示例强调文件部分<strong>强调</strong>还是示例部分。</p>
    </div>
    <div class="user-story-1">
      <p>讲故事部分，这里只是示例文字。示例强调文件部分<strong>强调</strong>还是示例部分。讲故事部分，这里只是示例文字。</p>
      <p>示例强调文件部分<strong>强调</strong>还是示例部分。</p>
    </div>
    <div class="user-story-1">
      <p>讲故事部分，这里只是示例文字。示例强调文件部分<strong>强调</strong>还是示例部分。讲故事部分，这里只是示例文字。</p>
      <p>示例强调文件部分<strong>强调</strong>还是示例部分。</p>
    </div>
  </div>
</div>
<%= render 'layouts/bottom_guide' %>
<%= render 'layouts/footer_index' %>
