<div class="modal fade" id="video-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="vplayer-box">
        <video class="video-js vjs-default-skin" id="demo-video"
          controls preload="auto" width="640" height="360"
          data-setup='true'>
          <source src="videos/teamail-concept.mp4" type='video/mp4' />
        </video>
      </div>
    </div>
  </div>
</div>
<a href="#" class="scrolltop back2top">
  <i class="fa fa-arrow-up fa-lg"></i>
</a>

<div class="landing-header-bg">
  <div class="container landing-header">
    <h1>
      <%= image_tag "left-wing.png", :class => "wings-image" %>
      为 Email 插上团队协作的翅膀
      <%= image_tag "right-wing.png", :class => "wings-image" %>
    </h1>
    <div class="screen-shot-container col-xs-12 col-md-8">
      <%= image_tag "landing-header-screenshot.png" %>
    </div>
    <div class="signup-form col-xs-12 col-md-4">
      <%= form_tag users_path, :method => "post", :class=>"form-horizontal", :remote => true do %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :'user[email]', nil, :class=>"form-control", :placeholder=>"你的邮箱"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= password_field_tag :'user[password]', nil, :class=>"form-control", :placeholder=>"你的密码"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :organization_name, nil, :class=>"form-control", :placeholder=>"团队名称"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= submit_tag "注册", :class=>"btn btn-default btn-block", 'data-disable-with' => '提交中...' %>
          </div>
        </div>
      <% end %>
      <div class="signup-post">
        <h4>免费开通服务，一步到位</h4>
        <p>如同Email一般简单易用，无须教程</p>
      </div>
    </div>
  </div>
  <div class="secondary-nav-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3><a href="http://blog.lohaswork.com/" target="_blank">官方博客</a></h3>
          <p>为什么要使用这个服务？</p>
        </div>
        <div class="col-md-3">
          <h3><%= link_to '使用帮助', help_path, {target: "_blank"} %></h3></h3>
          <p>探索 teamail.biz 的方方面面</p>
        </div>

        <div class="col-md-3">
          <h3><%= link_to '常见问题', faq_path, {target: "_blank"} %></h3>
          <p>我是否可以长期免费使用？</p>
        </div>
        <div class="col-md-3">
          <h3><%= link_to '关于我们', about_us_path, {target: "_blank"} %></h3>
          <p>我们是谁？为什么打造这样一款产品？</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="major-features-bg">
  <div class="major-features container">
    <div class="col-md-3">
      <div class="feature-block">
        <h3 class="feature-title-1">全局掌控</h3>
        <p>仅靠每周例会和Email片段难以及时把握团队整体状况，导致局面失控并延误时机？</p>
        <p>teamail.biz 整合团队整体的Email信息流，Leader可以通过"团队空间"了解项目最新进展，及时发现问题并给予指导，机会不再稍纵即逝！</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-block">
        <h3 class="feature-title-2">新人指导</h3>
        <p>项目忙起来没有时间指导培训新人，导致一边老队员连夜奋战一边新同学无所事事？</p>
        <p>teamail.biz 帮你保留以往所有项目的完整信息，并以条理化的形式展现。新入成员可以通过历史记录快速了解团队工作方式，尽快上手！</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-block">
        <h3 class="feature-title-3">Email整合</h3>
        <p>想要高效的项目管理，却又离不开Email？</p>
        <p>在 teamail.biz 中，你可以通过熟悉的Email操作来创建任务/回复讨论/发送文件。我们提供了与Email高度契合的使用方式，不再需要多系统间的切换及由此带来的繁复操作！</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-block">
        <h3 class="feature-title-4">管理实践</h3>
        <p>究竟怎样做才是行之有效的团队协作与项目管理？</p>
        <p>从"及时清空收件箱"到"团队信息透明化"，teamail.biz 让你在潜移默化中体验并实践GTD和敏捷管理思想，帮你快速实现高效的协作与管理！</p>
      </div>
    </div>
  </div>
</div>

<div class="user-story-bg">
  <div class="user-story-list container">
    <div class="user-story-intro">
      <h3>你可以这样使用 teamail.biz</h3>
    </div>
    <div class="user-story-1">
      <p class="us1-top">项目经理 <strong>麦克</strong>，在出差路上收到客户 <strong>董小姐</strong> 通过Email<br class="hidden-xs">发来的需求文档，他通过转发邮件轻松创建了一项任务，<br class="hidden-xs">要求新同事 <strong>梅雪</strong> 按照客户需求制作一份初步方案。</p>
      <p class="us1-bottom"><strong>梅雪</strong>，公司的新人，在 teamail.biz 上看到了 <strong>麦克</strong> 发布的任务，开始工作。</p>
    </div>
    <div class="user-story-2">
      <p class="us2-bottom">很快，<strong>梅雪</strong> 完成了文案，准备发给客户。她知道 <strong>董小姐</strong> 还不在会话列表中，<br class="hidden-xs">所以通过页面的 添加通知人功能 添加了 <strong>董小姐</strong> 的 Email，并且同时选中了通知人 <strong>麦克</strong>。</p>
    </div>
    <div class="user-story-3">
      <p class="us3-top"><strong>蓝侬</strong>，这家公司的总监，每天都会抽出一两个小时通过 teamail.biz 查看团队整体情况。<br class="hidden-xs">通过标签筛选 <strong>“A广场项目”</strong> 时，发现 <strong>梅雪</strong> 的初步方案有些问题。</p>
      <p class="us3-bottom"><strong>蓝侬</strong> 随即给出了自己的意见，并且勾选通知了 <strong>梅雪</strong> 和 <strong>麦克</strong>。这封回复会出现在他们两人的 teamail.biz 个人空间，<br class="hidden-xs">同时会以邮件形式发送给他们，而完全不会影响到客户 <strong>董小姐</strong>。</p>
    </div>
    <div class="user-story-4">
      <p class="us4-middle"><strong>梅雪</strong> 通过标签筛选 <strong>“B广场项目”+“讨论”</strong>，仔细研读了公司<br class="hidden-xs">过去项目的成果后，重新撰写了一份符合公司规范的方案书。</p>
    </div>
  </div>
</div>
<%= render 'layouts/bottom_guide' %>
<%= render 'layouts/footer_index' %>
