<div id="tag-list" class="checkbox-group" data-update="#selected_tags" data-reload=true>
  <lable>标记为：</lable>
  <%= form_tag add_tags_path, :method => "post", :remote => true do %>
  <%- tags.try(:each) do |tag|%>
    <li>
      <%= check_box_tag 'tags[]', tag.id, false, :class=>"item", :'data-item'=>true %>
      <%= tag.name %>
    </li>
  <% end %>
  <li class="divider"></li>
  <%= hidden_field_tag :selected_topics, '' %>
  <%= hidden_field_tag :selected_tags, '' %>
  <li><%= submit_tag "应用", :id=>"tagging-submit", :class=>"btn btn-default", :style=>"display:none" %></li>
  <% end %>
</div>
