<div id="tagging-controls" class="btn-group" data-page="CheckBoxGroup">
  <button type="button" id="tagging-dropdown" class="btn btn-default dropdown-toggle" disabled="disabled">
    <i class="icon-tags"></i>
    <span class="caret"></span>
  </button>
  <ul id="dropdown-tags" class="dropdown-menu" role="menu">
    <div id="tag-list-container">
      <lable>标记为：</lable>
      <%= form_tag add_tag_topics_path(:topics => @topics), :method => "post", :remote => true do %>
        <%= render :partial => 'tags/tag_list', :locals => { :tags => tags } %>
        <li class="divider"></li>
        <%= hidden_field_tag :selected_topics, '' %>
        <%= hidden_field_tag :selected_tags, '' %>
        <li>
          <%= submit_tag "应用", :id=>"tagging-submit", :class=>"btn btn-default" %>
        </li>
      <% end %>
    </div>
    <%= render :partial => 'tags/new_tag', :locals => {:organization => organization} %>
  </ul>
</div>
