<div id="tag-filters" data-page="SidebarTags">
  <%= form_tag topics_filter_with_tags_path, :method => "post", :remote => true do %>
    <ul class="list-unstyled">
      <%- tags.try(:each) do |tag|%>
        <%- tag_color = tag.color || "1" %>
        <li id="tag-link-<%= tag.id %>" class="tag-color-<%= tag_color %>">
          <a>
            <%= check_box_tag 'tags[]', tag.id, false, :style => 'visibility: hidden; position: absolute;' %>
            <i class="fa fa-circle"></i>
            <%= tag.name %>
          </a>
        </li>
      <% end %>
    </ul>
    <%= submit_tag "筛选", :id => "tag-filters-submit", :style => "display:none;" %>
  <% end %>
</div>
