<div id="tagging-controls" class="btn-group" data-page="CheckBoxGroup">
  <button type="button" id="tagging-dropdown" class="btn btn-default dropdown-toggle" disabled="disabled">
    <i class="fa fa-tags">&nbsp标签</i>
    <span class="caret"></span>
  </button>
  <ul id="dropdown-tags" class="dropdown-menu" role="menu">
    <div class="tag-label">标记为：</div>
    <div id="tag-list-container">
      <li class="divider"></li>
      <%= form_tag topics_add_tags_path(:topic => @topic), :method => "post", :remote => true do %>
        <%= render :partial => 'tags/tag_list', :locals => { :tags => current_organization.tags } %>
        <li class="divider"></li>
        <%= hidden_field_tag :selected_topics_to_tagging, '' %>
        <%= hidden_field_tag :selected_tags, '' %>
        <li>
          <%= submit_tag "应用", :id=>"tagging-submit", :class=>"btn btn-default btn-block", 'data-disable-with' => '提交中...' %>
        </li>
      <% end %>
    </div>
    <%= render :partial => 'tags/new_tag' %>
  </ul>
</div>
