<header class="navbar navbar-static-top">
  <nav class="navbar-inner container">
    <div class="pull-left logo">
      <%= link_to root_path do %>
        <%= image_tag('teamail-logo-green.png') %>
      <% end %>
    </div>
    <ul class="list-inline pull-right">
      <% if is_logged_in?%>
        <% if !!current_organization %>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <%= current_organization.name %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <% if organizations_other_than_current.any? %>
                  <%- organizations_other_than_current.try(:each) do |organization| %>
                    <li>
                      <%= link_to organization.name, change_default_organization_path(organization: organization) %>
                    </li>
                  <% end %>
                <% else %>
                  <li>没有其他组织可切换</li>
                <% end %>
              </ul>
            </div>
          </li>
          <li>
            <%= link_to('设置', show_member_path)%>
          </li>
        <% end %>
        <li>
          <%= link_to('退出', logout_path) %>
        </li>
      <% else  %>
        <li>
          <%= link_to('登录', login_path) %>
        </li>
      <%end%>
      <!--
      <% if current_organization %>
        <li>
          <%= link_to(current_organization.name, organization_topics_path)%>
        </li>
      <% end %>
      -->
    </ul>
  </nav>
</header>
