<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">

  <% if authenticated?%>
    <li>
      <%= current_user.email%>
    </li>
    <li>
      <%= link_to('登出', logout_path) %>
    </li>
  <% else  %>
    <li>
      <%= link_to('登录', login_path) %>
    </li>
  <%end%>
  <% if current_organization %>
    <%= link_to(current_organization.name, topics_path(organizaiton_id: current_organization.id))%>
  <% end %>
</ul>
