<header class="navbar navbar-static-top">
  <nav class="navbar-inner container">
    <div class="pull-left logo">
      <%= link_to root_path do %>
        <%= image_tag('teamail-logo-green.png') %>
      <% end %>
    </div>
    <ul class="list-inline pull-right">
      <% if is_logged_in?%>
        <% if !!current_organization %>
          <li>
            <%= current_organization.name %>
          </li>
          <li>
            <%= link_to('设置', show_member_path)%>
          </li>
        <% end %>
        <li>
          <%= link_to('退出', logout_path) %>
        </li>
      <% else  %>
        <li>
          <%= link_to('登录', login_path) %>
        </li>
      <%end%>
      <!--
      <% if current_organization %>
        <li>
          <%= link_to(current_organization.name, organization_topics_path)%>
        </li>
      <% end %>
      -->
    </ul>
  </nav>
</header>
