<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TeaMind.biz" %></title>
    <meta name="keywords" content="Teamind 茗想 团队协作 项目管理 SaaS">
    <meta name="description" content="TeaMind茗想是为中小团队定制的团队协作和项目管理工具">
    <meta name="author" content="LohasWork">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 8]>
        <%= stylesheet_link_tag "ie/font-awesome-ie7.min.css", media: "all" %>
    <![endif]-->
    <!--[if IE]>
        <%= stylesheet_link_tag "ie/ie.css", media: "all" %>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <%= javascript_include_tag "ie" %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %>">
    <div id='myModal', class='modal fade'>
    </div>
    <div class='wrapper'>
      <%= yield %>
      <%= render 'layouts/footer_index' %>
    </div>
    <script type="text/javascript">
      // Once the video is ready
      _V_("demo-video").ready(function(){

        var myPlayer = this;    // Store the video object
        var aspectRatio = 9/16; // Make up an aspect ratio

        function resizeVideoJS(){
          // Get the parent element's actual width
          var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
          width = width - 8;
          // Set width to fill parent element, Set height
          myPlayer.width(width).height( width * aspectRatio );
        }

        resizeVideoJS(); // Initialize the function
        window.onresize = resizeVideoJS; // Call the function on resize
      });
    </script>
  </body>
</html>
