<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TeaMail.biz" %></title>
    <meta name="keywords" content="TeaMail 团队协作 项目管理 SaaS">
    <meta name="description" content="TeaMail是为中小团队定制的团队协作和项目管理工具">
    <meta name="author" content="LohasWork">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "ie/font-awesome-ie7.min.css", media: "all" %>
    <![endif]-->
    <!--[if IE]>
        <%= stylesheet_link_tag "ie/ie.css", media: "all" %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %>" data-page="<%= @page_id %>">
    <div id='myModal' class='modal fade'>
      <%= render :partial => 'shared/new_topic' %>
    </div>
    <%= render 'layouts/navigation' %>
    <%= render 'shared/error_and_notification'%>
    <div class='container'>
      <%= render 'shared/sidebar'%>
      <section class="major-content col-xs-10">
        <%= yield %>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
      <%= javascript_include_tag "ie" %>
  <![endif]-->
  </body>
</html>
