<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TeaMind.biz" %></title>
    <meta name="keywords" content="Teamind 茗想 团队协作 项目管理 SaaS">
    <meta name="description" content="TeaMind茗想是为中小团队定制的团队协作和项目管理工具">
    <meta name="author" content="LohasWork">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "ie/font-awesome-ie7.min.css", media: "all" %>
    <![endif]-->
    <!--[if IE]>
        <%= stylesheet_link_tag "ie/ie.css", media: "all" %>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
        <%= javascript_include_tag "ie" %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %>">
    <div id='myModal' class='modal fade'>
    </div>
    <%= render 'layouts/navigation' %>
    <%= render 'shared/messages'%>
    <div class='wrapper-bg'>
      <div class="page-wrapper">
        <div class="page-relative-wrapper">
          <%= render 'shared/sidebar'%>
          <section id="major-content">
            <%= render 'shared/content_nav'%>
            <%= yield %>
          </section>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
